[Unit]
Description=Video-Mitm
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/RouteDns/
ExecStart=/usr/local/video-mitm/video-mitm /etc/video-mitm/config.yaml -b 0.0.0.0:34567
Restart=on-failure

[Install]
WantedBy=multi-user.target